@tailwind base;
@tailwind components;
@tailwind utilities;






body, input , textarea, button {
    font-weight: 400;
    /* line-height: "160%"; */
    text-rendering: optimizeLegibility;
    -webkit-font-smothing:antialiased;
    
}





.DialogContent {
    animation: slide-in 0.5s ease-in-out;
    transform: translateX(-100%);
}

.animate-final-state {
    opacity: 1; /* Garanta que o elemento permaneça visível */
    transform: translateY(0); /* Garanta que o elemento permaneça na posição final */
  }

  @layer components {
    .responsive-container {
        @apply flex px-[1.25rem] md:px-10 lg:mx-auto lg:max-w-[1225px] lg:px-16 xl:px-0 xl:mx-auto
    }

    .delayed-animation {
        animation-delay: 0.5s; /* Adicione o atraso desejado em segundos */
      }

    .h1-custom {
        @apply text-3xl text-gray-100 lg:text-6xl
    }

    /* Focar o botão com um teclado mostrará uma linha VERMELHA tracejada. */


    .border-custom {
        @apply border-b border-solid border-gray-800
    }

    .link:focus {
        outline: 2px solid yellow; /* Define a cor amarela desejada para a borda de foco */
        outline-offset: 2px; /* Espaço entre o texto e a borda de foco */
      }

    .skelleton-item {
        @apply  relative  overflow-hidden bg-gradient-to-r from-transparent
        via-gray-800
        to-transparent
        shadow-md
        /* shadow-gray-100/20 */
        before:absolute
        before:inset-0
        before:-translate-x-full before:animate-[shimmer_1300ms_infinite]
        /* before:border-t-4 before:border-gray-100/20 */
        before:bg-gradient-to-r before:from-transparent before:via-gray-200/10  before:to-transparent
    }


    
  }








   