  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 46, 99%, 62%;
      --primary-foreground: 240, 7%, 5%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;

      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240, 5%, 7%;
      --foreground: 0 0% 95%;

      --card: 240, 7%, 5%;
      --card-foreground: 0 0% 95%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 	46, 78%, 57%;
      --primary-foreground: 240, 5%, 7%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 20%;
      --input: 0 0% 40%;
      --ring: 46, 99%, 62%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

/* Para Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Para Edge */
input[type="date"]::-ms-clear {
  display: none;
}

/* Para Firefox, uma abordagem geral seria ocultar a seta, mas isso também remove a capacidade do usuário de limpar o campo */
input[type="date"]::-moz-clear {
  display: none;
}
    /* Para Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Para Edge */
input[type="date"]::-ms-clear {
  display: none;
}

/* Para Firefox, uma abordagem geral seria ocultar a seta, mas isso também remove a capacidade do usuário de limpar o campo */
input[type="date"]::-moz-clear {
  display: none;
}

/* Para navegadores baseados em WebKit como Chrome e Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para o Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Para o Internet Explorer */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
  display: none;
}
  