@tailwind base;
@tailwind components;
@tailwind utilities;




body, input , textarea, button {
    font-weight: 400;
    /* line-height: "160%"; */
    text-rendering: optimizeLegibility;
    -webkit-font-smothing:antialiased;
    
}



.DialogContent {
    animation: slide-in 0.5s ease-in-out;
    transform: translateX(-100%);
}

.animate-final-state {
    opacity: 1; /* Garanta que o elemento permaneça visível */
    transform: translateY(0); /* Garanta que o elemento permaneça na posição final */
  }








   